@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* ------------COLOUR--------------- */

        /* PRIMARY COLOUR */

    --DARK-CYAN: hsl(158, 36%, 37%);
    --CREAM: hsl(30, 38%, 92%);

        /* NEUTRAL COLOUR  */

    --VERY-DARK-BLUE: hsl(212, 21%, 14%);
    --DARK-GRAYISH-BLUE: hsl(228, 12%, 48%);
    --WHITE: hsl(0, 0%, 100%);

    /* ------------UTILITIES--------------- */
    
    --MARGIN:1.5rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--CREAM);
}

main {
    min-height: 100vh;
    display: grid;
    place-content: center;
}


.card {
    background-color: var(--WHITE);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 1rem;
    max-width: 37rem;
    overflow: hidden;
}

.product-image {
    height: 440px;
    display: block;
}

.right-container {
    padding: 1.8rem;
}

.perfume {
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 6px;
    color: var(--DARK-GRAYISH-BLUE);
}

.title {
    font-family: 'Fraunces', serif;
    line-height: 1;
    margin: var(--MARGIN);
}

.quote {
    color: var(--DARK-GRAYISH-BLUE);
    font-size: .9rem;
    line-height: 1.5;
}

.price-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: var(--MARGIN);
}

.price {
    font-family: 'Fraunces', serif;
    color: var(--DARK-CYAN);
    font-size: 2rem;
}

.discount {
    color: var(--DARK-GRAYISH-BLUE);
    text-decoration: line-through;
}

.btn {
    background: var(--DARK-CYAN);
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--WHITE);
    cursor: pointer;
    padding: .8rem;
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    .card {
        flex-direction: column;
    }

    .product-image {
        max-height: 260px;
        width: 100%;
    }

    .perfume {
        font-size: 1em;
    }
    .title {
        font-size: 2.3em;
    }
    .quote {
        font-size: .95em;
    }
}

